@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');


*{
   margin: 0;
   padding: 0;
   font-family: 'Squada One', cursive;
}

.fila1, .fila2{
    max-width: 100vw;
    min-width: 100vw;
}
.columna1, .columna2, .columna3, .columna4{
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    font-size: x-large;
    cursor: pointer;
    color: whitesmoke;  
    width: 100%;
    min-width: 100%;
    
    
}
.columna1{
    background: #132c33;
    background-size: cover;
    height: 100vh;
}
.columna1:hover{
    
    background-size: cover;

}
.columna1 p{
    font-size: medium;
    color: aliceblue;
}
.columna1 strong{
    
    background-size: cover;
    font-size: xx-large;
}
.columna2{
    background: url(img/dos.png);
    background-size: cover;
    height: 100vh;
}
.columna3{
    background: url(img/fondo.png);
    background-size: cover;
    height: 100vh;
    
    
}
.columna4{
    background: #132c33;
    background-size: cover;
    height: 100vh;
    

}

.columna1 img{
    height: 30%;
    max-height: 30%;
    width: auto;
    border-radius: 50%;
    padding: 5%;
    
}

.contenido{
    height: 30%;
    max-height: 30%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resaltado{
    font-size: xx-large;
    color: #ffffff;
 }
 
 
    
    
 .imgskills{
    height: 40%;
    max-width: 100%;
    max-height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.contenido img{
    height: 100%;
    width: auto;
    border-radius: 50%;
}


.titulo{
    padding-top: 5%;
    width: 100%;
    height: 30%;
    max-width: 100%;
    max-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo p{
    padding-left: 5%;
    padding-right: 5%;
}

.red{
    height: 50px;
    width: auto;
    max-height: 50px;
    
}
.red:hover{
    transform: rotate(45deg);
    transition: 1s;
}

.columna2:hover{
   
    background-size: cover;
}
.columna3:hover{
   
    background-size: cover;
}
.columna4:hover{
    
    background-size: cover;
}

.columna1:hover, .columna2:hover, .columna3:hover, .columna4:hover{
    transform: scale(1.03);
    background-size: cover;
    transition: 1s;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    
    background:#39a6a3;

}

.boton{
    height: 30%;
    max-height: 30%;
    min-height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-center{
  height: 50%;
  width: 30%;
  
}
.link{
    text-decoration: none;
}







@media (min-width: 800px){

    body{
       // overflow: hidden;
    }
    

    .fila1{
        height: 70vh;
        width: 100vw;
        display: flex;
        max-height: 70vh;
        min-height: 70vh;
        max-width: 100vw;
        min-width: 50vw;
    }

    .fila2{
        height: 30vh;
        display: flex;
        min-height: 30hv;
    }
    

    
    
    .columna1, .columna2, .columna3, .columna4{

        height: 100%;
        width: 50%;
        max-width: 50%;
        max-height: 100%;
        min-width: 50%;
        min-height: 100%;
        
    }

    .columna1, .columna3{
        width: 60vw;
        height: 100%;
        min-width: 60vw;
        max-width: 60vw;
    }
    .columna2, .columna4{
        width: 40vw;
        height: 100%;
        min-width: 40vw;
        max-width: 40vw;
    }
    .white-center{
        visibility: hidden;
    }

   

 
}






